{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Сайт #{{ url.id }}</h2>

<!-- Атрибут data-test="url" обязателен по заданию -->
<table class="table table-bordered table-hover w-50" data-test="url">
    <tbody>
        <tr>
            <th class="col-sm-4">ID</th>
            <td>{{ url.id }}</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>{{ url.name }}</td>
        </tr>
        <tr>
            <th>Дата создания</th>
            <td>{{ url.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
        </tr>
    </tbody>
</table>

<!-- <a href="{{ url_for('urls_list') }}" class="btn btn-secondary mt-3">Назад</a>-->

{# Flash-сообщения #}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}

<h2>Проверки</h2>

<form method="post" action="{{ url_for('url_check', url_id=url.id) }}">
  <input type="submit" value="Запустить проверку">
</form>

<table data-test="checks">
  <thead>
    <tr>
      <th>ID</th>
      <th>Код ответа</th>
      <th>h1</th>
      <th>title</th>
      <th>description</th>
      <th>Дата создания</th>
    </tr>
  </thead>
  <tbody>
    {% for check in checks %}
    <tr>
      <td>{{ check.id }}</td>
      <!-- <td>{{ check.status_code or '' }}</td>-->
      <td>{{ check.status_code if check.status_code is not none else '' }}</td>
      <td>{{ check.h1|truncate(200, True, '...') if check.h1 else '' }}</td>
      <td>{{ check.title|truncate(200, True, '...') if check.title else '' }}</td>
      <td>{{ check.description|truncate(200, True, '...') if check.description else '' }}</td>
      <td>{{ check.created_at.strftime('%Y-%m-%d') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}